.MoveBullet {
    position: absolute;
    width: 20px;
    height: 20px;
    left: -10px;
    top: -10px;
    z-index: 6;
    transition: 0.1s linear all;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid darkgray;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 60%;
    cursor: pointer;
}
.MoveBullet:hover {
    width: 30px;
    height: 30px;
    left: -15px;
    top: -15px;
}