.TextViewBox {
    position: relative;
    height: 48px;
    background-color: white;
    box-shadow: 0px 4px 4px -6px black;
    margin: 12px 12px 0px 12px;
    padding: 4px;
    display: flex;
    align-items: center;
}
.TextViewBox .DropDown {
    position: absolute;
    right: 0;
}
.TextViewBox .drag-handle {
    cursor: move;
}

.TextViewBox:before {
    content: '';
    position: absolute;
    width: 3px;
    left: 0;
    top: 0;
    height: 100%;
    background-color: yellowgreen;
}
.TextViewBox .Loader {
    height: 100%;
    width: auto;
}
.TextViewBox .Loader .loader {
    font-size: 5px;
    margin-top: -18px;
}